@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

* {box-sizing: border-box;}
body {
    margin: 0;
    flex-wrap: wrap; 
    font-family: 'Roboto', sans-serif;
    font-size: 24px;}
.flex {display: flex;}
.centerflex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fullscreen{
    width: 100vw;
    height: 100vh;
}
.hide{visibility: hidden;}
.remove{display: none;}

div {
    border: 1px solid lightgray;
    border-radius: 15px;
}
#calc{
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    height: 85vh;
    width: 400px;
    background-color: #0f2186    ;
    box-shadow: 5px 5px 15px black;
}
#display{
    flex-wrap: wrap;
    height: 15%;
    width: 95%;
    background-color: azure;
}
#bottons{
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    height: 45%;
    width: 100%;
    border: none;
}
#operators{
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    height: 30%;
    width: 100%;
    border: none;
}
.sizesmall{
    height: 18%;
    width: 30%;
    box-shadow: 0px 0px 2px 0px whitesmoke;
}
.sizelarge{
    height: 18%;
    width: 40%;
    box-shadow: 0px 0px 2px 0px whitesmoke;
}
.sizelarge1{
    height: 25%;
    width: 40%;
    box-shadow: 0px 0px 2px 0px whitesmoke;
}
.extralarge{
    height: 20%;
    width: 80%;
    box-shadow: 0px 0px 2px 0px whitesmoke;
}
.bottonsBG{
    background-color: #031265;
    cursor: pointer;
}
#display{
    border: none;

}
#formula{
    display: flex;
    justify-content: right;
    height: 30%;
    width: 100%;
    border: none;
    font-size: 12px;
}
#digit{
    display: flex;
    justify-content: right;
    border: none;
    height: 70%;
    width: 70%;
}
#oprator{
    display: flex;
    justify-content: right;
    border: none;
    height: 70%;
    width: 30%;
}
.line{
   width: 100%;
   height: 1px;
   background-image: linear-gradient(to left, #031265,  azure, #031265);
   border: none;
}
.bottonsBG:hover {
    transform: scale(1.1);
    transition: 0.1s;   
}
